body {
  font-family: Titillium Web, sans-serif;
  color: rgb(247, 243, 234);
}

/* --------------------------- */

.h1 {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}

.p {
  font-size: 18px;
  text-align: center;
  line-height: 25px;
}

/* --------------------------- */

.block1, .block2, .block3, .block4, .block5, .block6, .block7 {
  padding: 0 200px;
}

.dark-theme1{
  color: #3C4761;
}

.dark-theme2 {
  color: #393939;
}

/* --------------------------- */

.block1 {
  background-color: rgb(111, 79, 151);
  height: 500px;
}

.block1 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.header__logo {
  width: 100px;
}

.header__nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__category {
  text-transform: uppercase;
  font-size: 12px;
}

.header__category_highlited {
  background-color: rgba(0, 0, 0, 0.368);
  padding: 10px 20px;
  border-radius: 5px;
}

.block1 .main {
  margin-top: 100px;
}

.h1#uniqH1 {
  text-transform: none;
}

.button {
  border-radius: 3px;
  padding: 20px 40px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.button_color_orange {
  background-color: #EB7D4B;
  box-shadow: 0 5px 0.5px 0 #b46039;
}

.button_color_green {
  background-color: #17C2A4;
  box-shadow: 0 5px 0.5px 0 #149a81;
}

.button_color_blue {
  background-color: #30BAE7;
  box-shadow: 0 5px 0.5px 0 #2389ab;
}

.button__button-name {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #F7F3EA;
}

/* --------------------------- */

.block2 {
  background-color: #17C2A4;
  height: 600px;
}

.block2 .header, .block3 .header, .block4 .header, .block5 .header, .block6 .header, .block7 .header {
  padding-top: 50px;
}

.header__separator {
  margin: 0 auto;
  margin-top: 7px;
  width: 100px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.158);
  border-radius: 10px;
}

.header__description {
  margin-top: 20px;
}

.header__description .p {
  line-height: 30px;
}

.block2 .main, .block3 .main, .block4 .main, .block5 .main, .block6 .main, .block7 .main {
  margin-top: 70px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

.item {
  width: 23.5%;
  text-align: center;
}

.item__img {
  height: 120px;
}

.item__name {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 50px;
}

.item__description {
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
}

/* Понять как переиспользовать заголовки, описания и другое */

.block3 {
  background-color: #E7F1F8;
  height: 800px;
}

.block3 .item__img {
  width: 90%;
  height: auto;
}

.block3 .item__name {
  text-transform: none;
  font-size: 24px;
}

.item__tags {
  margin-top: 8.5px;
  color: #819ad5;
}

.block3 .item__description {
  line-height: 25px;
}

.item__links {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 6%;
}

.item__links img {
  width: 35px;
}

/* --------------------------- */

.block4 {
  background-color: #ffffff;
  height: 560px;
}

.block4 .item__img {
  width: 150px;
  height: auto;
}

/* --------------------------- */

.block5 {
  background-color: #FFDD99;
  height: 1090px;
}

.block5 .menu {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.block5 .menu__category {
  padding: 10px 20px;
  width: 43px;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
}

.block5 .menu__category:first-child {
  background-color: #ffffff;
}

.block5 .wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.block5 .flex {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.block5 .item {
  width: 50%;
  text-align: center;
}

.block5 .item__img {
  height: auto;
  width: 100%;
}

.block5 .item__name {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
}

/* --------------------------- */

.block6 {
  background-color: #d74680;
  height: 680px;
}

.block6 .main {
  margin-top: 50px;
}

.block6 .flex {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.block6 .flex:nth-child(2) {
  margin-top: 60px;
}

.block6 .flex__item {
  display: flex;
  gap: 40px;
}

.block6 .flex__img {
  height: 100px;
}

.block6 .flex__text {
  margin-top: 12px;
}

.block6 .flex__quote {
  font-style: italic;
  font-weight: 300;
  line-height: 25px;
}

.block6 .flex__quote::before, .block6 .flex__quote::after {
  content: '“';
}

.block6 .flex__person-name {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 700;
}

.block6 .flex__tags {
  margin-top: 5px;
  color: #FFDD99;
}

/* --------------------------- */

.block7 {
  background-color: #3C5499;
  height: 816px;
}

.block7 .main {
  margin-top: 70px;
}

.block7 .wrapper {
  display: flex;
  justify-content: space-between;
}

.block7 .input-name, .block7 .input-email {
  padding: 20px 30px;
  font-size: 20px;
  width: 48.5%;
  border: none;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(247, 243, 234);
}

.block7 .input-name:focus, .block7 .input-email:focus {
  border: none;
  outline: none;
}

.block7 .input-name::placeholder, .block7 .input-email::placeholder {
  color: rgb(247, 243, 234);
}

.block7 .textarea-massage {
  margin-top: 25px;
  padding: 12px 30px;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-family: Titillium Web, sans-serif;
  color: rgb(247, 243, 234);
  resize: none;
}

.block7 .textarea-massage:focus {
  border: none;
  outline: none;
}

.block7 .textarea-massage::placeholder {
  font-family: Titillium Web, sans-serif;
  color: rgb(247, 243, 234);
}

.footer {
  margin: 0 -200px;
  margin-top: 90px;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.205);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer__link {
  font-size: 20px;
  font-weight: 600;
}

.footer__link:nth-child(2) {
  color: rgb(0, 179, 255);
}